

#enter{
	width:20%;
	margin:0 auto;
}
#sproduct_list{
	width:60%;
	margin:0 auto;
}
table
{
	text-align: center;
	padding:5%;

}
th{
	font-size: 25px;

}
td{
	font-size: 20px;

}
